<div class="panel panel-info">
  <div class="panel-heading">
    About this AVI
  </div>
  <div class="panel-body">
  	<p>This AVI is based on Simple AVI</p>
    <ul>
      <li>A resource slider is added so the user can specify the required RAM allocation for their job</li>
      <li>A developer could hide this slider, and instead allocate resources based on the job input parameters</li>
    </ul>

    <a class="btn btn-lg btn-info" href='http://avi-framework.docs.gavip.science/' target='_'>View the developer guide</a>
  </div>
</div>